<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch and Display Data</title>
</head>
<body>

    <h1>Pollutant and Weather Data</h1>
    <button id="fetchButton">Fetch and Update CSV</button>
    <pre id="csvContent"></pre>
    <p id="error-message"></p>

    <script>
        async function getLastUpdateDate() {
            try {
                const response = await fetch('/api/last_update_date');
                const data = await response.json();
                return data.last_update_date;
            } catch (error) {
                console.error('Error fetching last updated date:', error);
                return null;
            }
        }

        async function fetchData(lastUpdatedDate) {
            try {
                const response = await fetch('/api/get_keys');
                const keys = await response.json();

                const WEATHER_KEY = keys.WEATHER_KEY;
                const POLLUTANT_KEY = keys.POLLUTANT_KEY;
                const STATION = `@10111`; // Station ID for Major dhyan chand stadium, Delhi
                const FROM = lastUpdatedDate ? new Date(lastUpdatedDate).toISOString().split('T')[0] : '';
                const TO = new Date().toISOString().split('T')[0];

                const pollutantResponse = await fetch(`https://api.waqi.info/feed/${STATION}/?token=${POLLUTANT_KEY}`, {mode: 'cors'});
                const pollutantData = await pollutantResponse.json();

                const weatherResponse = await fetch(`https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/INDIRA%20GANDHI%20INTERNATIONAL%2C%20IN/${FROM}/${TO}?unitGroup=metric&include=days&key=${WEATHER_KEY}&contentType=json`, {mode: 'cors'});
                const weatherData = await weatherResponse.json();

                console.log('Fetched Pollutant data:', pollutantData);
                console.log('Fetched Weather data:', weatherData);

                const filteredPollutantData = {
                    pm25: pollutantData.data.iaqi.pm25.v,
                    pm10: pollutantData.data.iaqi.pm10.v,   
                    co: pollutantData.data.iaqi.co.v,
                    no2: pollutantData.data.iaqi.no2.v,
                    so2: pollutantData.data.iaqi.so2.v,
                    o3: pollutantData.data.iaqi.o3.v,
                    AQI: pollutantData.data.aqi
                };
                const filteredWeatherData = {
                    tempmax: weatherData.days[0].tempmax,
                    tempmin: weatherData.days[0].tempmin,
                    temp: weatherData.days[0].temp,
                    humidity: weatherData.days[0].humidity,
                    dew: weatherData.days[0].dew,
                    windspeed: weatherData.days[0].windspeed,
                    winddir: weatherData.days[0].winddir,
                    windgust: weatherData.days[0].windgust,
                    precip: weatherData.days[0].precip,
                    cloudcover: weatherData.days[0].cloudcover,
                    visibility: weatherData.days[0].visibility,
                    pressure: weatherData.days[0].pressure
                };

                return { pollutant: filteredPollutantData, weather: filteredWeatherData };
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        async function runPythonScript(data) { 
            try {
                const response = await fetch('/update_data', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json', },
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const result = await response.json();
                return result;
            } catch (error) {
                console.error('Error running Python script:', error);
                document.getElementById('error-message').textContent = `An error occurred: ${error.message}`;
            }
        }

        async function updateCSV() { 
            try {
                const lastUpdatedDate = await getLastUpdateDate();  
                const data = await fetchData(lastUpdatedDate);  
                if (data) {
                    console.log("Data being sent to /update_data:", data);  
                    const response = await runPythonScript(data);  
                    console.log(response.message);  
                    displayCSV();  
                }
            } catch (error) {
                console.error('Error updating CSV:', error);
            }
        }

        function displayCSV() { 
            fetch('/datasets/cleaned_data.csv')
                .then(response => response.text())
                .then(csvData => {
                    document.getElementById('csvContent').textContent = csvData;
                })
                .catch(error => {
                    console.error('Error fetching CSV:', error);
                });
        }

        document.getElementById('fetchButton').addEventListener('click', updateCSV);
    </script>

</body>
</html>